PORT
APP_HOST
NODE_ENV
PG_RBAC_DATABASE_URL
MONGODB_DATABASE_URL

THROTTLE_DEFAULT_LIMIT
THROTTLE_DEFAULT_TTL

BASIC_AUTH_USERNAME
BASIC_AUTH_PASSWORD

REDIS_HOST
REDIS_PORT
REDIS_USERNAME
REDIS_PASSWORD
REDIS_DB
REDIS_URL

SWAGGER_ENABLE
SWAGGER_PATH
SWAGGER_SERVER_URL
APP_BASE_URL

MAILER_SERVICE
MAILER_EXPIRE
MAILER_USER
MAILER_PASSWORD

RABBITMQ_URL
RABBITMQ_USER
RABBITMQ_HOST
RABBITMQ_PASS
RABBITMQ_REPLICA

NATS_URL

ABLY_KEY



THROTTLE_DEFAULT_LIMIT
THROTTLE_DEFAULT_TTL